.darkbloom.fullscreen img, .darkbloom.fullscreen img p {
  /* Set rules to fill background */
  min-height: 100% !important;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100% !important;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

z-index:-150;
opacity:0.5; /* for a dark layer */
opacity:1;

}

.slide.fullscreen img, .slide.fullscreen img p {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

z-index:-150;
}


.fullscreen h1, .fullscreen h2, .fullscreen h3, .fullscreen h4, .fullscreen h5, .fullscreen h6, .fullscreen h7, .fullscreen h8
{

    text-shadow: 0 0 200px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
font-size:100px;

}


.fulltop h1, .fulltop h2, .fulltop h3, .fulltop h4, .fulltop h5, .fulltop h6, .fulltop h7, .fulltop h8
{

  /* Set up positioning */
  position: fixed;
  top: 0px;
  left:320px;
  margin-top:10px;
}

.fullbottom h1, .fullbottom h2, .fullbottom h3, .fullbottom h4, .fullbottom h5, .fullbottom h6, .fullbottom h7, .fullbottom h8
{

  /* Set up positioning */
  position: fixed;
  bottom: 0px;
  left:320px;
  margin-bottom:10px;
}


.fullscreen
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -151;
}


.darkbloom
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -151;
    color:#fff;
}

.lightbloom
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: -151;
}


.darkbloom.fullscreen body
{
color:#535353;
color:#FFF;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
}


.darkbloom.fullscreen p, .darkbloom.fullscreen li
{
color:#535353;
color:#FFF;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
}

.invisible h1, .invisible h2, .invisible h3, .invisible h4, .invisible h5, .invisible h6, .invisible h7, .invisible h8

                                                                                                          {
                                                                                                            display:none;

                                                                                                          }



.fancynumberedlist ol {
background-color: #fff;
padding: 2.4rem;
-webkit-animation: fadeIn 0.6s ease-in-out;
animation: fadeIn 0.6s ease-in-out;
width:50%;
margin:2em auto 2em auto;
  box-shadow: 0 16px 24px rgba(0, 20, 80, 0.3);

}



h1,h2,h3
{    font-size: 4.8rem;
line-height: 6.4rem;
     font-weight:bold;
     width:100%;
}


em
{
    font-style:normal;
    font-weight:bold;
    font-size:100%;
}



h2,h3,h4 {
    width:800px;
    margin-left: auto !important;
    margin-right: auto !important;
    line-height:1.1;
}



blockquote p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



span.todo.EXAMPLE_, span.todo.EXERCISE_, span.todo.SAMPLE_, span.todo.REVIEW_, span.todo.DEBRIEF_, span.todo.SAMPLE_, span.todo.QUESTION_, span.todo.EXAMPLE, span.todo.EXERCISE, span.todo.SAMPLE, span.todo.REVIEW, span.todo.DEBRIEF, span.todo.SAMPLE, span.todo.QUESTION, span.todo.PRINCIPLE {
  font-weight: bold;
    display: block;
    margin-bottom:0;
    color: #C92228; /* #C92228 = Pinterest red */
    font-size:150%;
}


}


.videowrapper-fullscreen {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videowrapper-fullscreen iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



video {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top:1em;
}

.jayaudio {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: fixed;
    bottom: 0px;
}




p strong, blockquote p strong {
    color: #a94442;
}


div.splash-page figure img {
    width: 300px;}


blockquote p strong {
    font-size: 100%;
}

ul.org-ul li strong {
    font-size: 100%;
}

blockquote p a {
  font-weight: bold;
  color: #05ADF3;
  text-shadow:none;
}



figure img {

    -o-object-fit: contain;
    object-fit: contain;
}




em {
    color: #C92228;
}



h3 em {
    color: #C92228;
}


h3 strong {
  margin-bottom:0;
  font-size:100%;
}


p strong {
    font-weight: bold;
}


blockquote p strong {
    display: inline;
}


#orgfb174b5 strong {
    display: block;
}

div.icons figure img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 20%;
}

div.outline-text-3.outline-text p {
    margin-left: auto ;
    margin-right: auto ;
    width: 100%  ;
}

figure img {
    -o-object-fit: contain;
    max-height: 50%;
    object-fit: contain;
}


.full figure img {
    -o-object-fit: contain;
    max-height:8000px !important;
    object-fit: contain;
}



.fullscreen figure img {
    -o-object-fit: contain;
    max-height: 1000% !important;
    object-fit: contain;
}


.fullscreen p.image img, .fullscreen figure img

{
  margin-top:0;
}


ol.org-ol li img {
    -o-object-fit: contain;
    object-fit: contain;
}

.image90 img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 90%;
}

.image80 img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 80%;
}

.image70 img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 70%;
}

.image60 img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 60%;
}


.image50 img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 50%;
}


.image40 img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 40%;
}



.image30 img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 30%;
}

.image20 img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 20%;
}


.image15 img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 15%;
}


.image10 img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 10%;
}



ol.org-ol {
    width: 100%;
}



.outline-text {
    width: 50%;
margin-left: auto;
margin-right:auto;}

p strong {
    font-size: 100%;
}

.font150 {
  font-size: 150%;
}


.font200 {
  font-size: 200%;
}


.fontbold  {
  font-weight:bold;
}


ol.org-ol
{
  margin-top:2em;
}

.fancynumberedlist ol.org-ol li {
    margin-bottom: 1em;
}



 h1,  h2,  h3
 {
   font-size:200%;
}


.compressed h1, .compressed h2, .compressed h3
{
  margin-top:-1em;
}


p, ol li, ul li {
    font-size: 150%;
}

iframe
{
  margin-top:1em;
}

figure img {
    margin-left: auto;
    margin-right: auto;
margin-top: 1em;
    margin-bottom: 0;
}

p.image img, figure img, blockquote, pre.example
{
    margin-top: 1em;
    margin-bottom:0;
}

.jayvideo
{
    margin-top: 2em;
    margin-bottom:-2em;

}

.outline-text p, .outline-text ul {
    margin-top: 2em;
}

h1 strong, h2 strong, h3 strong, h4 strong
{
color: #C92228; /* #C92228 = Pinterest red */
}

h1,h2,h3,h4,h5
{
  font-weight:bold;
    font-size: 250%;

}


div.splash-page p strong {
    font-size: 150%;
}




h1 em, h2 em, h3 em {
text-transform: uppercase;
    letter-spacing: .2rem;
    display:block;
    font-size:50%;
    color:#000;
    font-weight:normal;
    line-height:2;
}

h1 em:after, h2 em:after, h3 em:after {
content:"\A";

}

blockquote:before
             {
	content: url(/Users/jay/Dropbox/github/org-html-webslides/assets/img/blockbga.png) !important;
	margin-left: -70px !important;
	display: inline !important;
	float: left !important;
}

blockquote:after
             {
	content: url(/Users/jay/Dropbox/github/org-html-webslides/assets/img/blockbgb.png) !important;
	position: absolute;
	right: -60px;
  bottom:0px;
}


.thoughtbubble p {
  position: fixed;
top:100px;
text-align: left;
margin-left:1.5em !important;
font-size:300%;
width:40% !important;
line-height:1.5;
font-weight:400;
}


.thoughtbubble.narrow p {
  position: fixed;
top:100px;
text-align: left;
margin-left:1em !important;
font-size:300%;
width:30% !important;
line-height:1.5;
font-weight:600;
}




.alignleft h1, .alignleft h2, .alignleft h3 {
text-align: left;
margin-left:0.7em !important;
font-size:600%;
width:50% !important;
line-height:1.5;
}
