/* Org-HTML-Slideshow projection styles.
 *
 * These styles will apply only to the slide-show view.
 */

body {
   margin: 18pt;
   font-size: 24pt;
}

/* Use all headings as slide titles, regardless of level. */
h1,h2,h3,h4,h5,h6,h7,h8 {
   font-size: 48pt;
   margin: 18pt;
   text-align: center;
}

li {
   margin: 12pt;
}

/* Center embedded images. */
p.image {
   text-align: center;
}

/* Hide Org-Mode tags in slide-show view. */
span.tag {
   display: none;
}

/* Hide Org-Mode section numbers in slide-show view. */
span.section-number-1,span.section-number-2,span.section-number-3,span.section-number-4,span.section-number-5,span.section-number-6,span.section-number-7,span.section-number-8 {
   display: none;
}

.blue_background {
   background: blue;
   color: white;
}

object,img,video,audio,iframe {
 display: block;
 margin: 0 auto;
}

em
{
font-style:italic;
}

h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter {
 text-transform: capitalize;
}

.video-background {
width: 100%;
 height: 100%;
 object-fit: fill;


}
.video-foreground,
.video-background iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;

}



figcaption {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


